In [1]:
import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize']  = (12, 6)
plt.rcParams['axes.labelsize']  = 12
plt.rcParams['axes.titlesize']  = 12
plt.rcParams['legend.fontsize'] = 12
plt.rcParams['xtick.labelsize'] = 12
plt.rcParams['ytick.labelsize'] = 12
plt.rcParams['lines.linewidth'] = 1

plt.ion()

In [2]:
path = "../../results/output.csv"
df = pd.read_csv(path)

df

    difficulty  input  clues algorithm  expansions  time
0         easy      1     50         B         168     6
1         easy      2     43         B        4156   114
2         easy      3     40         B         449    12
3         easy      4     44         B         560    15
4         easy      5     43         B          91     2
..         ...    ...    ...       ...         ...   ...
155       hard      9     38         A        4467    61
156       hard     10     40         A        3306    44
157       hard     11     38         A        2729    36
158       hard     12     34         A        1353    18
159       hard     13     40         A       14356   190

[160 rows x 6 columns]

In [3]:
df.groupby("algorithm").describe()

          input                                               clues           \
          count     mean       std  min  25%  50%   75%   max count     mean
algorithm
A          32.0  5.96875  3.355154  1.0  3.0  6.0  8.25  13.0  32.0  40.1875
B          32.0  5.96875  3.355154  1.0  3.0  6.0  8.25  13.0  32.0  40.1875
G          32.0  5.96875  3.355154  1.0  3.0  6.0  8.25  13.0  32.0  40.1875
I          32.0  5.96875  3.355154  1.0  3.0  6.0  8.25  13.0  32.0  40.1875
U          32.0  5.96875  3.355154  1.0  3.0  6.0  8.25  13.0  32.0  40.1875

           ... expansions             time                                  \
           ...        75%        max count        mean           std   min
algorithm  ...
A          ...    2853.75    62056.0  32.0    65.00000    161.871315   0.0
B          ...    6589.75   150021.0  32.0   354.12500    846.526784   2.0
G          ...    2705.25    19684.0  32.0   129.87500    257.721249   4.0
I          ...  184229.50  4476885.0  32.0  9210.06250  22395.820936  60.0
U          ...    2853.75    62056.0  32.0   158.90625    398.789326   1.0


              25%     50%      75%       max
algorithm
A            1.00     5.0    37.00     786.0
B           14.50    72.0   176.25    4037.0
G           11.75    51.5    90.00    1366.0
I          356.50  1362.0  4655.25  109612.0
U            4.00    13.5    89.25    1977.0

[5 rows x 32 columns]